.cards{
  width: 100%;
  height: auto;
  background-color: black;
  display: flex;


}
.popular{
  width: 75%;
  height: auto;
  background-color: rgb(44, 44, 43);
  /* margin-top: 10vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 1%;
  padding: 5vh;
 

}


h2,.top label{
  font-size: 15px;
  line-height: 3px;
  color: white;
  font-weight: 500;
  margin-left: 4px;
  padding: 4px;
  font-family: 'Averia Serif Libre' , cursive;
  /* letter-spacing: 1px; */
  text-align: center;
}
h2:hover{
  color: greenyellow;
}
.top label:hover{
  color: yellowgreen;
}

.card{
  width: 25%;
  height: 60vh;
  background-color: rgb(79, 79, 78); 
  margin-top: 8vh;
  justify-content: center;
margin-left: 4%;
margin-right: 4%;
border-radius: 10px;
box-shadow: 100px;
cursor: pointer;

}
.card a{
  text-decoration: none;
}
.card:hover{

  box-shadow: 0px 2px 10px 2px rgb(188, 186, 186);
}
.card img{
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
  filter: blur();
  border-radius: 10px;
}
.text{
  height: 8vh;
  width: 90%;
  /* background-color: aquamarine; */
  margin-left: 6px;
  /* margin-top: 2vh; */
  margin-bottom: 3vh;
}
.text label{
  text-overflow: ellipsis;
  word-wrap: normal;
  text-align: center;
}

label,h4{
  font-size: 12px;
  line-height: 1px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: rgb(203, 200, 200);
}


.telecast{
  display: flex;
  width: 98%;
  height: 4vh;
  margin-top: 8vh;
  /* flex-direction: column; */
  background-color: rgba(95, 94, 94, 0.5);
  
  border-radius: 3px;
  justify-content: space-between;
  
  margin-left: 2px;
}

.top{
  width: 23%;
  height: 100vh;
  background-color: rgb(44, 44, 43);
  /* margin-top: 10vh; */
  margin-left: 1%;
  display: flex;
  flex-direction: column;
}

.today,.week ,.month{
  margin-left: 7%;
  margin-right: 7%;
  text-align: center;
  cursor: pointer;
  background-color: rgb(79, 79, 78);
  color: white;
  outline: none;
  
  
}
.month:hover{
  background-color: white;
  color: black;
}
.today:hover{
  background-color: white;
  color: black;
}
.week:hover{
  background-color: white;
  color: black;
}

  
  

.series{
  height: 10vh;
  width: 99%;
  cursor: pointer;
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  background-color:rgb(79, 79, 78) ;
  /* flex-direction: column; */
}
.index,.pics,.names{
  height: 6vh;
  margin-top: 1vh;
  
}
.index{
  width: 20%;
  height: 6vh;
  /* background-color: aquamarine; */
  text-align: center;
  margin-top: 3vh;
  font-weight: bold;
  font-size: 20px;
  color: aliceblue;
  text-decoration: underline;
}
.index:hover{
  color: greenyellow;
}
.pics{
  width: 20%;
  
}
.pics img{
  background-size: cover;
  width: 100%;
  height: 8vh;
}
.names{
  width: 59%;
  color: aliceblue;
  margin-left: 2%;
  margin-top: 1.5vh;


}

.names:hover{
  color: greenyellow;
}
hr{
  color: rgb(97, 96, 96);
}

@media (max-width: 414px){
  .cards{
    display: block;
    
    
  }
  .popular{
    display:grid;
    grid-template-columns: 2fr 2fr;
    width: 90%;
    /* margin-top: 4vh; */
    padding: 0;
    margin-left: 4%;
    margin-right: 1%;
    column-gap: 1%;
   
  }
  .card{
    width: 95%;
    height: 45vh;
    margin-top: 2vh;
    /* margin-left: 3%; */
    margin-bottom: 2vh;
    margin-right: 3%;
  }
  .card img{
    height: 25vh;
  }
  .card h2{
    text-overflow: ellipsis;
  }

  .top{
    display: block;
    width: 90%;
    margin-left: 5%;
  }
  .series{
    display: flex;
    height:12vh;
    width: 100%;
    justify-content: center;
    
  
  }
  .pics{
    height: 12vh;
    width: 10%;
  }
  .names{
    margin-left: 5%;
    margin-top: 3vh;
  }
  
  .heading{
    height: 50vh;
    width: 100%;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    

  }
  .heading img{
    height: 100vh;
    
  }
  h2,.top label{
    font-family: sans-serif;
  }
  .text{
    height: 9vh;
    width: 95%;
  }
  
}

